// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.card {
  background-color: $beige;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-body {
  background-color: white;
}

.card-title a {
  text-decoration: none;
}

.card-action a {
  position: absolute;
  top: 5px;
  right: 5px;
}

.container {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form {
  width: 50em;
}

.lists {
  border-bottom: solid;
  margin-bottom: 20px;
}
