.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $black;
}

.actions a {
  color: $black;
  background-color: $beige;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.search input {
  width: 500px;
}
